
$theme: '.ace';
$theme: '.ace.sc-jumbo-size';


#{$theme}.sc-segment-view {

  height: 44px;
  
  .left {
    width: 8px;
    height: 44px;
    @extend .__s76_302;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_normal_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_normal_100_0_8__0_", 0);background-repeat: no-repeat;
  }
  
  .right {
    width: 8px;
    height: 44px;
    @extend .__s76_303;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_normal_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_normal_92_0_8__0_", 0);background-repeat: no-repeat;
  }
  
  .middle {
    left: 8px; right: 8px;
    height: 44px;
    @extend .__s76_304;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_normal_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_normal_8_0_1__0_", 0);background-repeat: repeat-x;
  }
  
  .sc-button-label {
    color:#777;
    font-size: 16px;
    font-weight: bold;
    top: 12px;
    text-shadow: 0px 1px 1px white;
    margin-left: 9px;
    margin-right: 10px;
  }
  
  &.sc-first-segment .left {
    @extend .__s76_305;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_normal_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_normal_0_0_8__0_", 0);background-repeat: no-repeat;
  }
    
  &.sc-last-segment .right {
    @extend .__s76_306;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_normal__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/44px/segmented_normal__0_8__0_0", 0);background-repeat: no-repeat;  
  }
  
  
  
  &.active {
    .left { @extend .__s76_307;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_active_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_active_100_0_8__0_", 0);background-repeat: no-repeat; }
    .right { @extend .__s76_308;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_active_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_active_92_0_8__0_", 0);background-repeat: no-repeat; }
    .middle { @extend .__s76_309;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_active_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_active_8_0_1__0_", 0);background-repeat: repeat-x; }
  }
  
  &.active.sc-first-segment {
    .left { @extend .__s76_310;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_active_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_active_0_0_8__0_", 0);background-repeat: no-repeat; }
  }
  
  &.active.sc-last-segment {
    .right { @extend .__s76_311;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_active__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/44px/segmented_active__0_8__0_0", 0);background-repeat: no-repeat; }
  }
  
  
  
  &.sel {
    .left { @extend .__s76_312;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_100_0_8__0_", 0);background-repeat: no-repeat; }
    .right { @extend .__s76_313;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_92_0_8__0_", 0);background-repeat: no-repeat; }
    .middle { @extend .__s76_314;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_8_0_1__0_", 0);background-repeat: repeat-x; }
    
    .sc-button-label { color: white; text-shadow: 0px -1px 1px rgba(0,0,0,.7);}
  }

  &.sel.sc-first-segment {
    .left { @extend .__s76_315;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_0_0_8__0_", 0);background-repeat: no-repeat; }
  }

  &.sel.sc-last-segment {
    .right { @extend .__s76_316;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected__0_8__0_0", 0);background-repeat: no-repeat; }
  }
  
  
  
  &.sel.active {
    .left { @extend .__s76_317;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_active_100_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_active_100_0_8__0_", 0);background-repeat: no-repeat; }
    .right { @extend .__s76_318;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_active_92_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_active_92_0_8__0_", 0);background-repeat: no-repeat; }
    .middle { @extend .__s76_319;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_active_8_0_1__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_active_8_0_1__0_", 0);background-repeat: repeat-x; }
  }

  &.sel.active.sc-first-segment {
    .left { @extend .__s76_320;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_active_0_0_8__0_", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_active_0_0_8__0_", 0);background-repeat: no-repeat; }
  }

  &.sel.active.sc-last-segment {
    .right { @extend .__s76_321;
background-position: _slice_offset_x("source/resources/segmented/44px/segmented_selected_active__0_8__0_0", 0) _slice_offset_y("source/resources/segmented/44px/segmented_selected_active__0_8__0_0", 0);background-repeat: no-repeat; }
  }

}

$theme: '.ace';

